
 ; specifies which .ini file to load when running the application standalone (by launching directly the exe without Playnite)
[configToLoad]
configToLoad = default.ini

; ---------------------------------------------------------------
; Hotkey info:
; ^ = Ctrl; + = Shift; ! = Alt; # = Win (modifiers)
; Don't use any combos of two or more "base keys" (please see here: https://www.autoitscript.com/autoit3/docs/functions/HotKeySet.htm)
; Set the hotkey in the form ^+5 and not {lshift}{lctrl}5
; ---------------------------------------------------------------
[Hotkey]
Hotkey	     = ^+5

